body{
  background-color: #84FFF0;
  font-family: sans-serif;
  color: black;
}

h1{
  margin-left: 45px;
}
h2{
  text-shadow: 4px 3px #007F70;
}

div{
  background-color: green;
}
/*id*/
#textdiv{
  background-color: #00FFE1;
}
/*class*/
.photodiv{
  background-color: #267F75;
}
